<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.leeq.util.memodemo">


    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 允许访问振动设备 -->
    <uses-feature android:name="android.hardware.camera" /> <!-- 控制摄像头 -->
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- 相机自动聚焦 -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <!-- 富媒体需要声明的权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />


    <!-- 适配Android N系统必需的ContentProvider写权限声明，写权限包含应用包名-->
    <uses-permission android:name="baidu.push.permission.WRITE_PUSHINFOPROVIDER.cn.leeq.util.memodemo" />
    <permission
        android:name="baidu.push.permission.WRITE_PUSHINFOPROVIDER.cn.leeq.util.memodemo"
        android:protectionLevel="normal">
    </permission>



    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="432de326f0ac0157206302a618f517e2" />

        <service android:name="com.amap.api.location.APSService" />

        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="me.nereo.multi_image_selector.MultiImageSelectorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.RefreshDemo" />
        <activity
            android:name=".ui.XUtilsDBDemo"
            android:label="@string/title_activity_xutils_dbdemo"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.SearableActivty"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

            <meta-data
                android:name="searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name=".ui.SecondList" />
        <activity
            android:name=".ui.SelectLabel"
            android:screenOrientation="portrait"
            android:theme="@style/dialogActivityStyle" />
        <activity
            android:name=".ui.StepViewDemo"
            android:label="步骤指示器"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MultiImageSelect"
            android:label="图片选择器"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.FlowWordWrapDemo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.PopupAnimDemo"
            android:label="弹出动画演示"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.DialogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/dialogActivity" />
        <activity
            android:name=".ui.JCVideoPlayerDemo"
            android:label="JCVideoPlayer演示"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.QRDemo"
            android:label="ZXing演示"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.NumDateFormatChinese"
            android:label="日期格式化"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.JudgeDate"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.FriendCircleDemo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.JudgeBtnStateDemo"
            android:label="按钮状态演示"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AutoLoadMore"
            android:label="自动加载更多"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.LocationInfoDemo"
            android:label="高德"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.CaptureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.RetrofitDemo"
            android:label="Retrofit简单应用"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.BlueToothDemo"
            android:label="蓝牙应用"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SelectDevice"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".ui.QiniuDemo"
            android:screenOrientation="portrait"
            android:label="录音上传并播放"/>
        <activity
            android:name=".ui.IflyVoiceDemo"
            android:screenOrientation="portrait"
            android:theme="@style/ifly_dialog_activity"
            android:label="语音合成">
            <intent-filter>
                <action android:name="cn.leeq.util.memodemo.Ifly" />
            </intent-filter>
        </activity>

        <!-- push应用定义消息receiver声明 -->
        <receiver android:name=".CustomPushReceiver" >
            <intent-filter>

                <!-- 接收push消息 -->
                <action android:name="com.baidu.android.pushservice.action.MESSAGE" />
                <!-- 接收bind,unbind,fetch,delete等反馈消息 -->
                <action android:name="com.baidu.android.pushservice.action.RECEIVE" />
                <action android:name="com.baidu.android.pushservice.action.notification.CLICK" />
            </intent-filter>
        </receiver>
        <!-- push必须的receviver和service声明 -->
        <receiver
            android:name="com.baidu.android.pushservice.PushServiceReceiver"
            android:process=":bdservice_v1" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.baidu.android.pushservice.action.notification.SHOW" />
                <action android:name="com.baidu.android.pushservice.action.media.CLICK" />
                <!-- 以下四项为可选的action声明，可大大提高service存活率和消息到达速度 -->
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.baidu.android.pushservice.RegistrationReceiver"
            android:process=":bdservice_v1" >
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.METHOD" />
                <action android:name="com.baidu.android.pushservice.action.BIND_SYNC" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.baidu.android.pushservice.PushService"
            android:exported="true"
            android:process=":bdservice_v1" >
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.PUSH_SERVICE" />
            </intent-filter>
        </service>
        <service
            android:name="com.baidu.android.pushservice.CommandService"
            android:exported="true" />

        <!-- 适配Android N系统必需的ContentProvider声明，写权限包含应用包名-->
        <provider
            android:name="com.baidu.android.pushservice.PushInfoProvider"
            android:authorities="cn.leeq.util.memodemo.bdpush"
            android:writePermission="baidu.push.permission.WRITE_PUSHINFOPROVIDER.cn.leeq.util.memodemo"
            android:exported="true" />

        <!-- 在百度开发者中心查询应用的API Key -->
        <meta-data
            android:name="api_key"
            android:value="t8Pi76td0gHCCW2HkDH5BaB5" />

    </application>

</manifest>