<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.leeq.util.memodemo">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="me.nereo.multi_image_selector.MultiImageSelectorActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.RefreshDemo" />
        <activity
            android:name=".ui.XUtilsDBDemo"
            android:label="@string/title_activity_xutils_dbdemo"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.SearableActivty"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

            <meta-data
                android:name="searchable"
                android:resource="@xml/searchable" />
        </activity>

        <meta-data
            android:name="android.app.default_searchable"
            android:value=".ui.SearableActivty" />

        <activity
            android:name=".ui.ChooseLocalFile"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.learnncode.mediachooser.activity.HomeScreenMediaChooser"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.SecondList" />
        <activity
            android:name=".ui.SelectLabel"
            android:screenOrientation="portrait"
            android:theme="@style/dialogActivityStyle" />
        <activity
            android:name=".ui.StepViewDemo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MultiImageSelect"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.FlowWordWrapDemo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.PopupAnimDemo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.DialogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/dialogActivity" />
        <activity android:name=".ui.JCVideoPlayerDemo"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.QRDemo"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.ScanQRCode"
            android:screenOrientation="portrait"
            android:theme="@style/scan"/>
    </application>

</manifest>