<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.leeq.util.memodemo">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 允许访问振动设备 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 控制摄像头 -->
    <uses-feature android:name="android.hardware.camera" />
    <!-- 相机自动聚焦 -->
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="432de326f0ac0157206302a618f517e2" />

        <service android:name="com.amap.api.location.APSService" />

        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="me.nereo.multi_image_selector.MultiImageSelectorActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.RefreshDemo" />
        <activity
            android:name=".ui.XUtilsDBDemo"
            android:label="@string/title_activity_xutils_dbdemo"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.SearableActivty"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

            <meta-data
                android:name="searchable"
                android:resource="@xml/searchable" />
        </activity>

        <meta-data
            android:name="android.app.default_searchable"
            android:value=".ui.SearableActivty" />

        <activity
            android:name=".ui.ChooseLocalFile"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.learnncode.mediachooser.activity.HomeScreenMediaChooser"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.SecondList" />
        <activity
            android:name=".ui.SelectLabel"
            android:screenOrientation="portrait"
            android:theme="@style/dialogActivityStyle" />
        <activity
            android:name=".ui.StepViewDemo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MultiImageSelect"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.FlowWordWrapDemo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.PopupAnimDemo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.DialogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/dialogActivity" />
        <activity
            android:name=".ui.JCVideoPlayerDemo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.QRDemo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.NumDateFormatChinese"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.JudgeDate"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.FriendCircleDemo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.JudgeBtnStateDemo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AutoLoadMore"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.LocationInfoDemo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.CaptureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.RetrofitDemo"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.BlueToothDemo" />
        <activity
            android:name=".ui.SelectDevice"
            android:theme="@style/Theme.AppCompat.Light.Dialog"
            android:screenOrientation="portrait"/>

    </application>

</manifest>